
[ req ]
distinguished_name  = req_distinguished_name
req_extensions     = req_ext
prompt = no

[ req_distinguished_name ]
C  = VN
ST = Hanoi
L  = Hanoi
O  = MyCompany
OU = IT Department
CN = localhost

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = 127.0.0.1
